
.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: none;
  }

  .checkbox {
    margin-left: 10px;
    margin-right: 10px;
  }

  .countButton {
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
